#body_bg
{
	background: url(BG.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	opacity: 100%;
	max-width: 2000px;
}
a:hover 
{
	text-decoration:none;
	color:white;
	background-color: blue;
}
.button {
 	background-color: #52B2BF;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}
#div2
{
	border:5px solid #C1DAD7;
	padding:15px;
	background-color:#52B2BF;
}